

body {
	margin: 0 auto;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 0;
	background-image: url(assets/images/skulls.png)
}


.nav a.active{

	text-align: center;
	padding: 27px 20px;
	float: left;
	background-color: #1c6a6d;
	color: white;
	font-family: Georgia;
	font-size: 40px;
	position: relative;

}


.nav {
	 overflow: hidden;
	 background-color: #f5f7cc;
	 display: block;
	 margin-right: 70px;
	 margin-left: 180px;
	 padding-right: 95px;
	 padding-left: 60px;
    box-shadow: 0 4px 8px 0 rgba(7, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 960px;



}

.nav a {
		float: right;
		color: #1d642b;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		padding: 30px 0px 0px 23px;
		height: 30px;
		text-align: center; 
		display: inline-block;
}

.nav a:hover {
	background-color: #ddd;
	color: white;
}

#page-wrap{
	width: 1200px;   
	margin: 0 auto
}

#relative {
	background-color: #f7f7df;
	height: 150px;
	position: relative;
	bottom: 0;
	box-shadow: 0 4px 8px 0 rgba(7, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 50px 50px;
	padding-right: 100px;
	width: 450px;
	float: left;
	height: 340px;
}

#smallcontent {
	width: 650px;
	margin: 0 auto;
	padding-right: 190px;
}

#othercontent {
	background-color: #f7f7df;
	height: 180px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(7, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	bottom: -3px;
	right: 165px;
	width: 200px;
	float: right;

}

.text{
	text-align: left;
}

#relative h1 {
	position: relative;
	text-align: left;
	float: 0;
	font-size: 40px;
	top: -45px;
	border-bottom: 8px solid #57c4d0;
}

#othercontent h2 {

	text-align: center;
	float: 0;
	font-size: 20px;
	top: 70px;
	border-bottom: 5px solid #57c4d0;
	border-bottom-style:ridge;
	right: -60px;
	margin-top: 20px;

}



img.wrap{
	float: left;
	margin-right: 10px;
	clear: both; 
}

p {
	position: relative;
	bottom: 50px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #3c2d2d;
	color: white;
	text-align: center;
	height: 90px;
}

.footer_outer{
	width: 100%;
border: 5px solid;
position: fixed;
color: #2c521b;
padding: 0px;
bottom: 88px;
}


.centerimage {
	display: block;
	margin: 0 auto;
	width: 80em;
}






