

body {
	margin: 0 auto;
	/*font-family: 'Georgia', Times, Times New Roman, serif;*/
	padding: 0;
	/*background-image: url(assets/images/skulls.png)*/


	/*font-family: 'Georgia', Times, Times New Roman, serif;*/
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Gothic A1', sans-serif;
	font-weight: bolder;

	/*background-image: url(assets/images/complexdesign.jpg);*/
	/*background-image: url(assets/images/water.jpg);*/
	background-color: #0099cc;

}

img.img-wrap{
	float: left;
	margin-right: 10px;
	clear: both;
	padding: 1px;
	border: 1px solid #1d5218;
	background-color: #cbb;

}

.blue-header span{
	border-bottom: 6px solid #57c4d0;
	font-family: 'Merriweather', serif;;

}

.logo {
	/*text-indent: -99999999px;*/
	/*background: url('logo/l1.png')no-repeat;*/
	border-radius: 30px;
	background-color: darkslategray;
	/*width: 600px;*/
	height: 200px;
	padding: 30px;
}

h1 {
	padding:0px 0px 0px 5px;
	text-align: center;
}

navigation {
    width: 100%;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
	text-align: center;
	margin:80px;
}



p {
	font-family: Arial;
}

h2 {
	text-align: center;
}

.header span  {
	border-bottom: 5px dotted #57c4d0;
	margin-left: 0 auto;
	margin-right: 0 auto;
}


.imageset{
	display: flex;
	flex-wrap: flex;
	padding: 40px 0px 0px 125px;
}

/*.navbar-custom  {
	background-color: lemonchiffon;
}*/

.navbar-custom  {
	background-color:#ccccccbe;
	padding: 50%
}


.information {
	font-size: 32px;
	color: black;
	line-height: 2;
}

#logo-box{
	margin-top: 0px;
	margin-bottom: -75px;
	background-image: url(images/complexdesign.jpg);
}

.carousel_slide{
    height:300px;
	margin: 20px;
}

.infoWindow {
	margin-top: 200px;
	background-color:lemonchiffon;
}

.weatherapi{
 	background-color: lightgrey;
    width: 1490px;
    border: 15px solid lemonchiffon;
    padding: 25px;
    margin: 25px;
}

h3 {
	color: lightgoldenrodyellow;
	/*font-family: 'Gothic A1', sans-serif;*/
	font-family: 'Roboto Condensed', sans-serif;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding : 20px 0px 0px 15px;

}

#telephone {
	border-radius: 40px;
	background-color: olive;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 10px 0px 10px 0px;
	color: lightgoldenrodyellow;
}











